/*
brown: #4F3A28;
white: #ffffff;
maroon: #4D1B14;
tan-brown: #AA762F;
light-brown: #844421;
light-gray: #e1e8ed;
*/

#header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 15px;
	border-bottom: 1px solid #e1e8ed;
}

#header a {
	flex: 1 1 auto;
	text-align: center;
	line-height: 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #292f33;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
}

#header a:hover {
	cursor: pointer;
	border-bottom: 4px solid #4D1B14;
}

#header a:not(.first) {
	border-left: 1px solid #e1e8ed;
}

#invite {
	width: 100%;
	background: -webkit-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Firefox 3.6-15 */
	background: radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Standard syntax */
}

#invite div {
	line-height: 80px;
	font-weight: 900;
	font-size: 2em;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

#invite .funny {
	position: relative;
	left: 41%;
	bottom: 12px;
	color: #fff;
}

.pee {
	color: #AA762F;
}

.poo {
	color: #844421;
}

.box-wrapper {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.large-img {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image: url(main.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 25px;
}

.large-img div {
	background: #4D1B14;
	float: left;
	width: 500px;
	height: 35px;
	margin-top: 25px;
	margin-left: 20px;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	line-height: 25px;
	word-wrap: break-word;
	color: #AA762F;
    font-size: 1.3em;
}

.show-box {
	padding: 10px;
	margin: 5px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
}

.show-box img {
	width: 100%;
	height: 360px;
}

.show-box .footer {
	text-align: center;
	line-height: 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #292f33;
}