/*
brown: #4F3A28;
white: #ffffff;
maroon: #4D1B14;
tan-brown: #AA762F;
light-brown: #844421;
light-gray: #e1e8ed;
*/

#header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 15px;
	border-bottom: 1px solid #e1e8ed;
}

#header a {
	flex: 1 1 auto;
	text-align: center;
	line-height: 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #292f33;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
}

#header a:hover {
	cursor: pointer;
	border-bottom: 4px solid #4D1B14;
}

#header a:not(.first) {
	border-left: 1px solid #e1e8ed;
}

#invite {
	width: 100%;
	background: -webkit-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Firefox 3.6-15 */
	background: radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Standard syntax */
}

#invite div, .message {
	line-height: 80px;
	font-weight: 900;
	font-size: 2em;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

#invite .funny {
	position: relative;
	left: 41%;
	bottom: 12px;
	color: #fff;
}

.pee {
	color: #AA762F;
}

.poo {
	color: #844421;
}

.box-wrapper {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.large-img {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image: url(main.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 25px;
}

.large-img div {
	background: #4D1B14;
	float: left;
	width: 500px;
	height: 35px;
	margin-top: 25px;
	margin-left: 20px;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	line-height: 25px;
	word-wrap: break-word;
	color: #AA762F;
    font-size: 1.3em;
}

.show-box {
	padding: 10px;
	margin: 5px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
}

.show-box img {
	width: 100%;
	height: 360px;
}

.show-box .footer {
	text-align: center;
	line-height: 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #292f33;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}

.modal-wrapper .modal {
	width: 90%;
	height: 250px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background: -webkit-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* For Firefox 3.6-15 */
	background: radial-gradient(#4F3A28 34%, #844421 78%, #AA762F 98%); /* Standard syntax */
}

.modal #close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: rgba(132, 68, 33, .7);
  font-size: 1.5em;
}

#close:hover {
	color: rgb(87, 50, 30);
	cursor: pointer;
}

.form-wrapper {
	width: 50%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.form-wrapper input[type="email"] {
	width: 75%;
	padding: 18px;
	position: relative;
	opacity: .6;
	font-size: 25px;
}

button {
	padding: 16px;
	line-height: 20px;
	font-size: 24px;
	white-space: normal;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    position: relative;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

#ocean{
  position:absolute;
  width:100%;
  min-height:100%;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(0,50,150)),
  color-stop(0.50, rgb(0,150,255))
  );
}

.wave{
  background:#a8e3ff;
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}